---
layout_name: modules/getting-started/application
slug: please-wait
---
<style>
    .logo {
        animation: pulse 2s infinite;
    }

    @keyframes pulse {
        0% {
            background-color: #005D48;
        }
        50% {
            background-color: #00AE43;
        }
        100% {
            background-color: #005D48;
        }
    }
</style>
<p>Please wait...</p>

{% if params.wait_for != blank %}
    <script type="text/javascript">
        var interval = null;

        var checkIfReady = function () {
            var url = "{{ params.wait_for }}";
            fetch(url).then(function (response) {
                if (response.status === 200) {
                    document.location = url;
                    if (interval) {
                        clearInterval(interval);
                    }
                }
            }).catch(function (error) {
                console.log('Not ready yet...')
            });
        };

        checkIfReady();
        interval = setInterval(checkIfReady, 5000);
    </script>
{% endif %}