<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>platformOS Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <style>
        body {
            background: #005745;
            color: #fff;
            font: 20px/1.6 Helvetica, Arial, sans-serif;
            padding: 0;
            -webkit-font-smoothing: antialiased;
        }

        .wrapper {
            margin: 0 auto;
            max-width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px auto 20px;
            width: 140px;
            height: 140px;
            border-radius: 100%;
            box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.3);
            background: rgba(255, 255, 255, 0.1);
        }

        h1 {
            margin: 0;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            font-weight: 300;
        }

        p {
            margin: 15px 0 00;
            text-align: center;
        }

        a {
            color: inherit;
        }

        .start-guide {
            font-size: 16px;
        }

        .wow-button {
            -moz-border-radius: 8px;
            /*-moz-box-shadow: #005D48 0px 0px 10px;*/
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -webkit-border-radius: 8px;
            /*-webkit-box-shadow: #005D48 0 0 10px;*/
            -webkit-transition: all 0.5s ease;
            background-color: #005D48;
            background-image: -moz-linear-gradient(90deg, #005D48, #005D48);
            background-image: -ms-linear-gradient(90deg, #005D48, #005D48);
            background-image: -o-linear-gradient(90deg, #005D48, #005D48);
            background-image: -webkit-linear-gradient(90deg, #005D48, #005D48);
            background-image: linear-gradient(90deg, #005D48, #005D48);
            border-radius: 8px;
            border: 2px solid #005D48;
            box-shadow: #00AE43 0px 0px 10px;
            color: #00AE43;
            display: inline-block;
            /*font-size: 1.2em;*/
            margin: auto;
            padding: 5px;
            text-decoration: none;
            /*text-shadow: #00AE43 1px 1px 1px;*/
            transition: all 0.5s ease;
        }

        .wow-button:hover {
            box-shadow: #00AE43 0px 0px 25px;
        }
    </style>
    <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=fetch"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>
</head>

<body>
<div class="wrapper">
    <div class="icon logo">
        <svg
                width="100"
                height="100"
                viewBox="0 0 30.58 26.03"
                xmlns="http://www.w3.org/2000/svg"
        >
            <path d="m5.07 0h2.63l-4.14 4.17z" fill="#3cd52e"/>
            <path d="m2.16 11.04-2.16-3.88h2.11z" fill="#d70036"/>
            <path d="m2.11 7.17h4.34l-4.29 3.87z" fill="#ea1d76"/>
            <path d="m6.29 14.44.16-7.27-4.29 3.87z" fill="#ff8300"/>
            <path d="m11.47 10.82-5.19 3.62.17-7.27z" fill="#ffce00"/>
            <path d="m14.7 6.03-8.25 1.14 5.02 3.65z" fill="#3cd52e"/>
            <path d="m12.79 0-3.33 4.09 5.24 1.94z" fill="#d70036"/>
            <path d="m20.61 0h-7.82l1.91 6.03z" fill="#3e8ede"/>
            <path d="m6.45 7.17 8.25-1.14-5.24-1.94z" fill="#ea1d76"/>
            <path d="m22.09 6.03h-7.39l5.91-6.03z" fill="#1d4f90"/>
            <path d="m18.38 12.75-6.91-1.93 3.23-4.79z" fill="#47a141"/>
            <path d="m22.09 6.03-3.71 6.72-3.68-6.72z" fill="#005744"/>
            <path d="m24.69 10.82-6.31 1.93 3.71-6.72z" fill="#47a141"/>
            <path d="m23.54 14.74-5.16-1.99 6.31-1.93z" fill="#3cd52e"/>
            <path d="m20.61 0 5.69 4.69-4.21 1.34z" fill="#3e8ede"/>
            <path d="m22.09 6.03 4.21-1.34-1.61 6.13z" fill="#00953a"/>
            <path d="m24.69 10.82 5.82 1.1-6.97 2.82z" fill="#005744"/>
            <path d="m30.51 11.92.07 5.53-7.04-2.71z" fill="#47a141"/>
            <path d="m23.54 14.74 7.04 2.71-5.32.89z" fill="#1d4f90"/>
            <path d="m30.58 17.45-2.73 6.03-2.59-5.14z" fill="#3cd52e"/>
            <path d="m25.26 18.34 2.59 5.14-3.94-2.19z" fill="#3e8ede"/>
            <path d="m27.85 23.48-3.9 2.55-.04-4.74z" fill="#1d4f90"/>
            <path d="m23.91 21.29.04 4.74-1.96-3.08z" fill="#3e8ede"/>
            <path d="m23.95 26.03h-5.21l3.25-3.08z" fill="#1d4f90"/>
            <path d="m21.99 22.95-3.25 3.08.57-3.08z" fill="#d70036"/>
            <path d="m19.31 22.95-.57 3.08-2.51-3.08z" fill="#ea1d76"/>
            <path d="m19.31 22.95h-3.08l1.83-2.13z" fill="#d70036"/>
            <path d="m16.23 22.95v-4.03l1.83 1.9z" fill="#ff8300"/>
            <path d="m26.3 4.69 4.21 7.23-5.82-1.1z" fill="#3cd52e"/>
            <path d="m19.31 19.02-.42-2.07 3.08 1.39z" fill="#47a141"/>
            <path d="m16.23 18.92 3.08.1-.42-2.07z" fill="#3cd52e"/>
            <path d="m18.06 20.82 1.25-1.8-3.08-.1z" fill="#ffce00"/>
            <path d="m7.17 2.69 2.29 1.4-.11-2.77z" fill="#47a141"/>
            <path d="m7.17 2.69 2.18-1.37-1.65-1.32z" fill="#3cd52e"/>
            <path d="m3.56 4.17 4.14-4.17-.53 2.69z" fill="#00953a"/>
            <path d="m9.46 4.09-2.29-1.4-1.06 1.46z" fill="#005744"/>
            <path d="m3.56 4.17 3.61-1.48-1.06 1.46z" fill="#47a141"/>
            <path d="m2.11 7.17 4-3.02.34 3.02z" fill="#ff8300"/>
            <path d="m6.11 4.15.34 3.02 3.01-3.08z" fill="#d70036"/>
            <path d="m2.11 7.17 1.45-3 2.55-.02z" fill="#ffce00"/>
            <path d="m11.87 14.43-1.25 2.13h3.6z" fill="#47a141"/>
            <path d="m9.16 14.44 1.46 2.12 1.25-2.13z" fill="#3cd52e"/>
            <path d="m11.47 10.82.4 3.61 6.51-1.68z" fill="#005744"/>
            <path d="m14.22 16.56 4.16-3.81-6.51 1.68z" fill="#00953a"/>
        </svg>
    </div>

{{ content_for_layout }}
</body>
</html>

